body{
    background-color: black !important;
}
.header-bar{
    padding: 15px;
    text-align: center;
    background: url("lib.jpg");
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 10px;
}

.header-bar h1{
    font-family: Calibri;
    font-size: 24pt;
    letter-spacing: 2px;
    word-spacing: -0.6px;
    color: #ffff4d;
    font-weight: 1000;
    font-variant: small-caps;
}

.header-bar p{
    font-size: 17px;
    font-variant: none;
}


.main-body{
    background: #0d0d0d;
    position: relative;
    padding: 13px;
    max-width: 100%;
    text-align: center;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 10px;
}

.main-body .bigOption{
    position: relative;
    color: whitesmoke;
    width: 30%;
    display: block;
    background-color: crimson;
    margin: 20px auto;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.2s ease;
}

.main-body .bigOption:hover{
    color: yellow;
    font-weight: bold;
    background-color: #8a0d26;
}

.main-body p{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-left: 20px;
    margin-bottom: 20px;
    font-variant: none;
    font-size: 12pt;
    font-weight: normal;
    color: white;
    background-color: #0d0d0d;
}

.containerFamily{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 300px;
    width: 50%;
}

.container{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 200px !important;
    max-height: 100% !important;
    text-align: center;
    float: left;
}


.container img{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: auto;
}

.overlay{
    background-color: crimson;
    position: absolute;
    top:0;
    bottom: 0;
    float: top;
    width: 200px;
    height: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
}
.overlay:hover{
    opacity: 1;
}

.text {
    color: yellow;
    font-weight: bolder;
    font-size: 12pt;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.tableButton{
    background-color: crimson;
    position: relative;
    width: 100%;
    height: auto;
}
.tableButton:hover{
    background-color: #8a0d26;
}

.backBtn{
    position: absolute;
    z-index: 1;
    float: right;
    max-width: 10%;
    max-height: 30px;
    margin: 0;
    display: block;
    padding: 2px !important;
}

table{
    margin-top: 25px;
}